@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import './styles/fonts/google-sans.css';
@import './styles/fonts/google-sans-code.css';

@theme {
	--font-sans:
		'Google Sans', ui-sans-serif, system-ui, 'PingFang SC', '微软雅黑', 'Microsoft Yahei',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: 'Google Sans Code', Menlo, Consolas, monospace;
}

:root {
	font-family: var(--font-sans);
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes FadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-10px);
	}
}

footer a {
	text-decoration: underline;
	@apply text-neutral-300 hover:text-neutral-50;
}